[submodule "Renaissance/externals/spdlog"]
	path = Renaissance/externals/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Renaissance/externals/GLFW"]
	path = Renaissance/externals/GLFW
	url = https://github.com/SolidSquib/glfw
	branch = master
[submodule "Renaissance/externals/imgui"]
	path = Renaissance/externals/imgui
	url = https://github.com/SolidSquib/imgui
	branch = docking
[submodule "Renaissance/externals/glm"]
	path = Renaissance/externals/glm
	url = https://github.com/g-truc/glm
[submodule "Renaissance/externals/yaml-cpp"]
	path = Renaissance/externals/yaml-cpp
	url = https://github.com/SolidSquib/yaml-cpp.git
[submodule "RenaissanceEditor/externals/ImGuizmo"]
	path = RenaissanceEditor/externals/ImGuizmo
	url = https://github.com/SolidSquib/ImGuizmo.git
[submodule "Renaissance/externals/IconFontCppHeaders"]
	path = Renaissance/externals/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
