# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# directories
.vs
bin
intermediates
*.sln
/sandbox/*.vcxproj
/Renaissance/*.vcxproj
/Renaissance/Renaissance.vcxproj.filters
/Sandbox/*.user
*.user
*.vcxproj
*.filters
/JSON/Schemas/Catalog
